.produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5px;
  margin-left: 5px;
  margin-right: 50px;
  transform: scale(0.8);
  transition: transform 0.3s;
}

.produto img {
  max-width: 150px;
  max-height: 500px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.promocao {
  text-align: center;
}

.nome-produto {
  margin-top: 60px;
  font-weight: medium;
  font-size: 23px;
  margin-bottom: 5px;
  text-align: center;
  margin-bottom: 100px;
}

.valorPromocao {
  margin-top: 25px;
  margin-bottom: 10px;
  display: block;
  font-style: bold;
  font-size: 45px;
  font-weight: bold;
  color: #081F39;
}

.linha-separadora {
  border: none;
  border-top: 2px solid #ccc; 
  margin: 5px 0; 
}